<h1>Historial de Transacciones</h1>

<form [formGroup]="form">
  <div class="filters">
    <mat-form-field class="name-field">
      <input matInput [formControl]="form.controls.name" />
      <mat-label>Buscar por nombre</mat-label>
      <mat-icon matIconPrefix>search</mat-icon>
    </mat-form-field>

    <mat-form-field class="field">
      <mat-label>Filtrar por fecha</mat-label>
      <input matInput [formControl]="form.controls.date" [matDatepicker]="picker" />
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="field">
      <mat-select [formControl]="form.controls.status" placeholder="Todos">
        @for (option of options; track option) {
          <mat-option [value]="option.value">{{ option.viewValue }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
</form>

<div class="cardtable">
  <table mat-table [dataSource]="transactionsFiltered">
    <ng-container matColumnDef="sentAt">
      <th mat-header-cell *matHeaderCellDef>Fecha/Hora</th>
      <td mat-cell *matCellDef="let t">{{ t.sentAt | date: 'medium' }}</td>
    </ng-container>

    <ng-container matColumnDef="bankReferenceNumber">
      <th mat-header-cell *matHeaderCellDef>No. Referencia</th>
      <td class="bold" mat-cell *matCellDef="let t">{{ t.bankReferenceNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="customerName">
      <th mat-header-cell *matHeaderCellDef>Cliente</th>
      <td mat-cell *matCellDef="let t">{{ t.customerName }}</td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Monto</th>
      <td mat-cell *matCellDef="let t">RD$ {{ t.amount | number: '1.2-2' }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let t">
        <span class="status-badge" [ngClass]="t.status.toLowerCase()">
          {{ getStatusLabel(t.status) }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciónes</th>
      <td mat-cell *matCellDef="let t">
        <div class="buttons">
          <button (click)="seeVoucher(t.voucherId)" matButton="outlined">Ver Comprobante</button>
          <button (click)="seeReceipt(t.voucherId)" class="confirm" matButton="filled">
            Ver Recibo
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColums"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: displayedColums"></tr>
  </table>
</div>
