.cardtable {
  background-color: #f4f4f6;
  border-radius: 12px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.215);
  border-bottom: 1px solid #1010101d;
  margin-top: 2rem;

  padding: 20px 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filters {
  display: flex;
  justify-content: space-between;
}

.name-field {
  width: 40%;
}

.field {
  width: 28%;
}

.buttons {
  display: flex;
  gap: 1rem;
}
.confirm {
  background-color: #0c9488 !important;
  color: white;
}
