<div class="header">
  <mat-icon class="back-arrow">arrow_back</mat-icon>

  <div class="header-text">
    <h2>Detalle de Comprobante</h2>
    <span>ID: {{ id }} • Recibido via +{{ voucher!.customerPhone }}</span>
  </div>
</div>

<div class="grid-2">
  <div class="card image-card">
    <div class="img">
      <img [src]="voucher.imageURL" />
    </div>
  </div>

  <div class="card">
    <h2>Datos</h2>

    <app-show-error [errors]="errors"></app-show-error>
    <form (submit)="onSubmit()" [formGroup]="form">
      <mat-form-field>
        <mat-label>Monto Extraido (RD$)</mat-label>
        <input matInput [formControl]="form.controls.amount" />
        <mat-error>{{ getAmountError() }}</mat-error>
      </mat-form-field>

      <mat-form-field [formGroup]="form">
        <mat-label>No. Referencia Bancaria</mat-label>
        <input matInput [formControl]="form.controls.bankReferenceNumber" />
        <mat-error>{{ getReferenceError() }}</mat-error>
      </mat-form-field>

      <div class="actions">
        <button (click)="openRejectDialog()" matButton="outlined">Rechazar Pago</button>
        <button type="submit" class="confirm" matButton="filled">Confirmar Pago</button>
      </div>
    </form>
  </div>
</div>
