<aside class="sidebar">
  <div class="brand">
    <div class="brandicon">C</div>
    <span>ComprobanteRD</span>
  </div>

  <nav class="nav">
    <a class="navitem">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </a>

    <a class="navitem">
      <mat-icon>access_time</mat-icon>
      <span>Historial</span>
    </a>

    <a class="navitem">
      <mat-icon>group</mat-icon>
      <span>Clientes</span>
    </a>

    <a class="navitem">
      <mat-icon>settings</mat-icon>
      <span>Configuracion</span>
    </a>

    <a class="navitem">
      <mat-icon>manage_accounts</mat-icon>
      <span>Usuarios</span>
    </a>
  </nav>
</aside>

<div class="main">
  <header class="topbar">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem distinctio magnam molestiae
    ratione exercitationem quam sit, officia laborum omnis delectus. Quidem distinctio, nulla quis
    quasi ex obcaecati enim iusto officiis.
  </header>
</div>
