.confirm {
  background-color: #2b9c87 !important;
}

mat-form-field {
  width: 100%;
}

textarea {
  width: 100%;
}

mat-dialog-content {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
