<div>
  <h1>Panel de Monitoreo</h1>

  <div class="cards">
    <div class="card">
      <div class="card-header">
        <span class="card-title">Comprobantes recibidos hoy</span>
        <span class="dot-teal">•</span>
      </div>
      <div class="card-body">
        <h2>{{ recibidos }}</h2>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <span class="card-title">Pendientes por verificar</span>
        <span class="dot-yellow">•</span>
      </div>
      <div class="card-body">
        <h2>{{ pendientes }}</h2>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <span class="card-title">Aprobados hoy</span>
        <span class="dot-teal">•</span>
      </div>
      <div class="card-body">
        <h2>{{ confirmados }}</h2>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <span class="card-title">Rechazados hoy</span>
        <span class="dot-red">•</span>
      </div>
      <div class="card-body">
        <h2>{{ rechazados }}</h2>
      </div>
    </div>
  </div>

  <div class="cardtable">
    <h2>Comprobantes Recbidos</h2>
    <table mat-table [dataSource]="table">
      <!-- Date -->
      <ng-container matColumnDef="sentAt">
        <th mat-header-cell *matHeaderCellDef>Fecha y Hora</th>
        <td mat-cell *matCellDef="let v">{{ v.sentAt | date: 'short' }}</td>
      </ng-container>

      <!-- Customer Name -->
      <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef>Cliente</th>
        <td class="bold" mat-cell *matCellDef="let v">{{ v.customerName }}</td>
      </ng-container>

      <!-- Amount -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Monto</th>
        <td mat-cell *matCellDef="let v">RD$ {{ v.amount | number: '1.2-2' }}</td>
      </ng-container>

      <!-- Status -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let v">
          <span class="status-badge" [ngClass]="v.status.toLowerCase()">
            {{ getStatusLabel(v.status) }}
          </span>
        </td>
      </ng-container>

      <!-- Actions -->
      <ng-container matColumnDef="accion">
        <th mat-header-cell *matHeaderCellDef>Acción</th>
        <td mat-cell *matCellDef="let v">
          <a class="detailbutton" routerLink="/voucher/{{ v.id }}" matButton="outlined">
            Ver Detalle
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
